/* My teachUOS page */
#myteachuos_wrapper {
    height: 100%;
    background-color: #28497c;
    width: 100%;
}

#myteachuos_container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
}

#myteachuos_logo {
    height: 65px;
    float: left;
}

#myteachuos_title {
    float: left;
    height: 65px;
    font-size: 35pt;
    margin-left: 30px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
}

#link_wrapper {
    width: 100%;
    clear: left;
    padding-top: 25px;
    height: 40vh;
    overflow: auto;
}

.favourites_link {
    color: white !important;
    width: 98%;
    display: block;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: background-color 0.5s !important;
}

.favourites_link:hover {
    background-color: white;
    color: #28497c !important;
}

.link_img {
    float: left;
    height: 32px;
    margin: 9px;
    transition: opacity 0.5s;
}

.link_txt {
    margin: 0px;
    margin-top: 9px;
    margin-left: 55px;
    font-size: 18pt;
    transition: color 0.5s;
}

.favourites_link .top {
    display: none;
}

/* Styling of home button */
.teachuos-back {
    background-color: #28497c;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 2px;
    display: block;
    float: left;
    width: 8%;
    text-align: center;
    margin-top: 40px;
    /*-webkit-transition: background-color 0.5s !important;
    -moz-transition: background-color 0.5s !important;
    -o-transition: background-color 0.5s !important;*/
    transition: background-color 0.5s !important;
}

.teachuos-back img.top {
    position: absolute;
}

.teachuos-back:hover {
    background-color: white;
}

/* Transition effect on  */
.teachuos-back img {
    /*-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;*/
    transition: opacity 0.5s;
}
