/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.11.2019, 16:48:38
    Author     : anne
*/

#layout_content{
	padding: 0px;
	/*to remove second scrollbar*/
	overflow: hidden; 
}

#layout_container{
	padding: 0px;
}

/* Cartoon images on index page */
a.hover_image img {
    position:absolute;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

a.hover_image img.top:hover {
    opacity:0;
}

#page_title_container{
    display: none;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.fontsize13 {
    font-size: 13px;
}

/* hide second navbar at the top (first studip version) */
.tabs_wrapper {
    display: none !important;
}
/* hide second navbar at the top (second studip version) */
ul#tabs {
    display: none !important;
}
