/*
    Layout for courseware content on second layer
*/
/* 
    Created on : 13.07.2020, 10:21:42
    Author     : firas
*/

#logo_wrapper {
    padding-top: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.teachuos-footer{
    font-size: 9px;
    color: #ffffff;
}

.teachuos-footer img{
	margin-bottom: 35px;
}

/* Rounded styling of second layer buttons */
.subchapter div a {
    border: 2px solid white;
    border-radius: 10px;
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: color 0.5s, background-color 0.5s;
}

.subchapter div a:hover {
    background-color: white;
    color: #28497c !important;
}

.subchapter.selected div a {
    background-color: white;
    color: #28497c !important;
}

/* Provide space between second layer buttons */
.subchapter {
    margin-bottom: 20px;
}

.chapter.selected b{
    color: #83a3d1;
    font-weight: normal;
}

.chapter.selected{
	display: contents;
}

.chapter.selected div{
	margin-bottom: 22px;
}

.active-section{
	max-width: 1500px !important;
	padding-top: 0em !important;
	clear: none !important;
}

.title h1{
    color:#28497C !important;
}

.title {
    margin-bottom: 0px !important;
}

.teachuos-kacheln-behalter{
    position: relative;
    width: 17%;
    max-width: 400px;
    height: 100%;
    float: left;
    background-color: #28497c;
    text-align: center;
    font-size: Large;
    font-weight: 900;
    min-height: 500px;
    min-width: 250px;
    display: flex;
	flex-direction: column;
}

/* Styling of links for subchapter navigation */
ol.active-subchapter a.navigate {
    border: 2px solid #28497C !important;
    border-radius: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    transition: color 0.5s, background-color 0.5s;
}

ol.active-subchapter a.navigate:hover {
    color: white !important;
    background-color: #28497C !important;
}

/* Style of selected links (subchapter navigation) */
li.section.selected a.navigate{
	color: white !important;
    background-color: #28497C !important;
}

a.navigate{
    color: #ffffff !important;
}

/* Subchapter navigation */
ol.active-subchapter {
    padding: 0 !important;
    float: right;
    height: auto !important;
    background-color: #f6f7f7 !important;
}

ol.active-subchapter.stuck {
    display: none;
}
    
ol.active-subchapter li  > a {
    color: #28497C !important;
    width: auto !important;
    height: auto !important;
    background-image: none !important;
    margin-bottom: 8px;
    background-color: #f6f7f7 !important;
}

/* Sidebar navigation */
ol.subchapters{
	font-size: 14px;
	font-weight: normal;
	margin-top: 25px;
	margin-left: -40px;
	margin-bottom: 25px;
	line-height: 1.82857143;
}

/* COURSEWARE CONTENT */
#courseware{
	max-width: 100% !important;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5% !important;
    padding-right: 5%;
    padding-top: 25px;
    background-color: #f6f7f7;
    border-radius: 25px 0px 25px 25px;
}

.teachuos-text-behalter{
    width: 83%;
    float: left;
}

/* Header at the top of courseware content */
#header-read-mode {
    height: 80px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.favourite-star {
    margin-top: 32px;
    margin-right: 5%;
    cursor: pointer;
    float: right;
    padding-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 20px;
    background-color: #f6f7f7;
    border-radius: 15px 15px 0px 0px;
    /*-webkit-transition: margin 0.3s !important;
    -moz-transition: margin 0.3s !important;
    -o-transition: margin 0.3s !important;*/
    transition: margin 0.3s !important;
}

.favourite-star .top {
    position: absolute;
}

.favourite-star .bottom {
    opacity: 0;
}

.favourite-star img {
    /*-webkit-transition: opacity 0.3s !important;
    -moz-transition: opacity 0.3s !important;
    -o-transition: opacity 0.3s !important;*/
    transition: opacity 0.3s !important;
}

.favourite-star.marked {
    margin-top: 22px !important;
}

section.block {
    clear: right;
    padding-top: 5px;
}

/* TODO: needed? */
.teachuos-text-behalter h3 {
    font-size: 2.2em;
    margin-bottom: 1em;
}

.teachuos-sub-content{
    height: 100%;
}

.teachuos-content h1,
.kooteachuosp-content h2 {
    text-transform: uppercase;
    margin-bottom: 1em;
    color: #28497c;
}

/* Image of main section in the upper left corner */
.chapterImg {
    max-width: 75%;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* Styling of home button */
.teachuos-back {
    background-color: #28497c;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 5px;
    /*-webkit-transition: background-color 0.5s !important;
    -moz-transition: background-color 0.5s !important;
    -o-transition: background-color 0.5s !important;*/
    transition: background-color 0.5s !important;
}

.teachuos-back img.top {
    position: absolute;
}

.teachuos-back:hover {
    background-color: white;
}

/* Transition effect on  */
.teachuos-back img {
    /*-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;*/
    transition: opacity 0.5s;
}

/* My teachUOS+ button on second layer */
#myteachuos {
    background-color: #f6f7f7;
    width: 15%;
    max-width: 250px;
    display: block;
    border-radius: 10px;
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 32px;
    margin-right: 10px;
    margin-left: 5%;
    transition: background-color 0.5s !important;
}

#myteachuos:hover {
    background-color: #28497c;
    color: white;
}